ipykernel			# MUST - to allow ipynb and interactive partial  kernel execution
python-dotenv			# MUST - to load env viaraoble from .env

langchain			# For GEN AI projects - Orchestrator
ctransformers>=0.2.24
tensorflow
tf-keras

#### For Embeddings and Cosine similarity search
sentence-transformers

#### For AUdio classification
datasets
soundfile
#ffmpeg
librosa #The librosa library may need to have ffmpeg installed.

#pytorch
##openai
##huggingface_hub
##streamlit			# quick web by streamlit run main.py


#langchain                  	# alrdeay there   
#####langgraph                  # >2 agent pipeline
#langchain_openai 
#langchainhub 
#langsmith    			# UI to see langchain status
#duckduckgo-search 
#beautifulsoup4 
#gradio


#tensorflow crashcourse
##setuptools                      # used for creating python packages
#deprecated sklearn
#####scikit-learn
#####tensorflow
#python -m pip show tensorflow --- shoudl show tensorflow
#####keras